.answered-icon {
  font-size:60px!important;
  color:green;
}

.unanswered-icon {
  font-size:60px!important;
  color:blue;
}

.question-list {
  margin-bottom: 10px;
  padding: 15px 5px;
}

.recommendation-box {
  background-color: blue;
  width: 1px;
  height: 100%;
  padding: 0px 5px;
  margin-right: 5px;
}

.question-tags {
}

.question-tags .btn {
  margin-right: 8px;
  cursor: default;
}

.item {
  font-weight: bold;
}

li.selected {
   background-color: #e9ecf2;
}

li.selected .btn{
   background-color: white;
}

.filter{
  /*text-align:center;*/

}
#dateSlider{
  margin-right: 8px;
  margin-bottom: 10px;
}

#rangeSlider{
  margin-right: 8px;
  margin-bottom: 10px;
}

#answerSlider{
  margin-bottom: 10px;
}
